{{outlet}}

<!-- login form -->
<div class="red-box">
   
   <!--  {{login-form}} -->

    <form class="login-form">
        <!-- top lebel error-->
        {{#if errorMessage}}
            <div class="top-level-error">
                {{errorMessage}}
            </div>
        {{/if}}

        <!-- form -->
        <p>
            <label for="userid">User Id</label>
            {{input value=userid placeholder="Enter User Id"}}
        </p>
        <p>
            <label for="password">Password</label>
            {{input value=password type="password" placeholder="Enter Password"}}
        </p>

        <p><button {{ action "onLoginSubmit" }}>Log In</button></p>
    </form>
</div>
